.pf-v6-c-tearsheet {
    width: calc(100% - 4rem) !important;
    max-width: calc(100% - 4rem) !important;
    height: calc(100% - 4rem) !important;
    max-height: calc(100% - 4rem) !important;
    inset-block-start: 0 !important;
    top: 2rem !important;
}

.pf-v6-c-tearsheet.pf-m-stack-level-1 {
    width: calc(100% - 2rem) !important;
    max-width: calc(100% - 2rem) !important;
    height: calc(100% - 6rem) !important;
    max-height: calc(100% - 6rem) !important;
    inset-block-start: 0 !important;
    top: 3rem !important;
}

.pf-v6-c-tearsheet.pf-m-stack-level-2 {
    width: calc(100% - 0rem) !important;
    max-width: calc(100% - 0rem) !important;
    height: calc(100% - 8rem) !important;
    max-height: calc(100% - 8rem) !important;
    inset-block-start: 0 !important;
    top: 4rem !important;
}

.pf-v6-c-tearsheet-inner {
    caret-color: red;
}

.pf-v6-c-tearsheet-header {
    caret-color: red;
}

.pf-v6-c-tearsheet-body {
    caret-color: red;
}

.pf-v6-c-tearsheet-footer {
    caret-color: red;
}
