.pf-v6-c-backdrop-animated {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:
    opacity 240ms cubic-bezier(0.4, 0.14, 1, 1), /* Carbon equivalent: duration-moderate-02 + motion(exit, expressive) */
    visibility 0ms linear 240ms; /* Carbon equivalent: duration-moderate-02 */
}

.pf-v6-c-backdrop-animated-visible {
    opacity: 1;
    visibility: visible;
    pointer-events: unset;
    transition:
    opacity 240ms cubic-bezier(0, 0, 0.2, 1),
    visibility 0ms linear 0ms;
}

.pf-v6-c-backdrop-animated-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
